<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      ><!--- [opened]="(isHandset$ | async) === false" fixedInViewport-->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.toggle()">
				<div><mat-icon mat-list-icon>home</mat-icon> <span>Accueil</span></div>
			</a>
      <ng-container *ngFor="let link of links; let i = index">
        <a *ngIf="link.url != ''" mat-list-item [routerLink]="link.url" (click)="drawer.toggle()">{{link.title}}</a>
        <a *ngIf="link.click == 'openEvent'" mat-list-item (click)="drawer.toggle();openEvent()">{{link.title}}</a>
        <a *ngIf="link.click == 'openRegister'" mat-list-item (click)="drawer.toggle();openRegister()">{{link.title}}</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="example-sidenav-content">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxShow="true">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        </div>
        Map Events
        <div fxLayout="row" fxShow="true" fxShow.gt-sm>
          <span *ngIf="logged"> {{currentUser?.firstname}} est connecté :-) </span>
          <button mat-button *ngIf="!logged" (click)="openLogin()">
            <mat-icon>power_settings_new</mat-icon>
            S'identifier
          </button>
          <button mat-button *ngIf="logged" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Quitter
          </button>
        </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
