<button mat-button mat-dialog-close>fermer</button>
<div align="center">
<h2>S'identifier</h2>
<form [formGroup]="fg" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <mat-label>Identifiant</mat-label>
        <input matInput formControlName="email" type="text" placeholder="Votre e-mail" width="100%" required>
        <!---mat-icon matSuffix>mail</mat-icon--->
        <mat-hint>Votre e-mail</mat-hint>
        <mat-error>
          Insérez votre identifiant !!!
        </mat-error>
        <!---ng-container *ngIf="fg.controls['email'].errors && fg.controls['email'].touched">
          <mat-error *ngIf="fg.controls['email'].errors['required']">Est requis</mat-error>
        </ng-container--->
    </mat-form-field>
<br><br>
    <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Votre mot de passe" width="100%" required>
        <!---mat-icon matSuffix>mail</mat-icon--->
        <mat-hint>Votre mot de passe</mat-hint>
        <mat-error>
          Insérez votre mot de passe !!!
        </mat-error>
        <!---ng-container *ngIf="fg.controls['password'].errors && fg.controls['password'].touched">
          <mat-error *ngIf="fg.controls['password'].errors['required']">Est requis</mat-error>
        </ng-container--->
    </mat-form-field>
<br><br>
    <button mat-fab extended color="primary" type="submit">On y va!</button><br><br>
    <button mat-fab extended color="primary" type="button" (click)="onRegister()">S'enregistrer</button>
</form>

</div>
